body {
    background-color: wheat;
    font-family: Verdana;
    margin: 40px;
  }
canvas{
    height:100pt ;
    margin: 10px;
    border:1px solid lightgray
  }
  
  input{
    font-size:15pt
  }
  
  div{
    font-size:20pt
  }
  
  .blueback{
    background-color: #a7dda2; 
  }